<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vier gewinnt</title>
    <link rel="stylesheet" media="screen" >
</head>
<body>
<div class="container">
    <h1>Vier Gewinnt!</h1>

    <a href="/newGame">Starte ein Spiel</a>

    <div class="section">
        <h2>Spielablauf</h2>
        <ul>
            <li>Für 2 Spieler</li>
            <li>Jeder Spieler setzt abwechselnd einen Stein</li>
            <li>Ziel ist es, 4 Steine eines Spielers in eine Linie zu bringen, dabei ist es egal, ob diese vertikal, horizontal oder diagonal sind</li>
            <li>Ist ein Spieler an der Reihe, darf er mit den Eingabefeldern unten einen Stein setzen</li>
            <li>Gewonnen hat der Spieler, der als erstes alles 4 seiner Steine in einer Reihe hat</li>
        </ul>
    </div>

    <div class="section">
        <h2>Geschichte des Spiels</h2>
        <ul>
            <li>Das Spiel wurde 1974 von den Entwicklern Howard Wexler und Ned Strongin erfunden und 1974 von der Strongin & Wexler Corp. lizenziert und 1974 veröffentlicht.</li>
            <li>Die Entstehung des Spiels fällt in eine Zeit, als Gesellschaftsspiele populär wurden. Die Menschen suchten nach unterhaltsamen Aktivitäten, um sich in der Freizeit zu beschäftigen</li>
            <li>Das Spiel hat sich zu einem wichtigen kulturellen Erbe entwickelt und ist ein Teil der deutschen Spieltradition</li>
        </ul>
    </div>
</div>
</body>
</html>