@(controller: de.htwg.se.controller.controllerComponent.ControllerInterface)

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4-Gewinnt</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/field.css")' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="http://localhost:9000">About</a>
    <a href="http://localhost:9000/save">Save</a>
    <a href="http://localhost:9000/load">Load</a>
    <a href="http://localhost:9000/newGame">New Game</a>
    <div class="dropdown">
        <button class="dropbtn">Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://localhost:9000/undo">Undo</a>
            <a href="http://localhost:9000/redo">Redo</a>
        </div>
    </div>
</div>

<h1>4-Gewinnt</h1>
<p>
    Ein neues Spiel wurde erzeugt!
</p>
<div class="grid">
    @for(index0 <- 0 until controller.field.size) {
    @for(index1 <- 0 until controller.field.size2) {
    @{if (controller.field.stone(index0,index1).toString() == "X") {<div class="yellow"></div>}}
    @{if (controller.field.stone(index0,index1).toString() == "O") {<div class="red"></div>}}
    @{if (controller.field.stone(index0,index1).toString() == " ") {<div class="empty"></div>}}
    }
    }
</div>
<br/>
<br/>
<form method="POST" action="/put">
    <div class="form-row">
        <label for="row">Reihe:</label>
        <input type="text" id="row" name="row" required>
    </div>
    <div class="form-row">
        <label for="column">Spalte:</label>
        <input type="text" id="column" name="column" required>
    </div>
    <div class="form-row">
        <input class="place" type="submit" value="Platzieren">
    </div>
</form>
</body>
</html>
