@(controller: de.htwg.se.controller.controllerComponent.ControllerInterface)
<html>
<style>
table, th, td {
  border:1px solid black;
}
pre {
  margin: 0;
  font-size: 20px;
}
</style>
<body>
<h1>Geladen</h1>
<p>
    Das Spiel wurde Geladen!
</p>
<div style class="section">
    @for(index0 <- 0 until controller.field.size) {
    <pre>@{controller.field.barHTML(3, controller.field.size2)}</pre>
    <pre>@{controller.field.cellsHTML(index0, 3)}</pre>
    }
    <pre>@{controller.field.barHTML(3, controller.field.size2)}</pre>
</div>
<br/>
<br/>
<form style="display:inline-block;" method="POST" action="/put">
    <label style="width:45px;">Reihe:  </label>
    <input id="row" name="row" required><br />
    <label style="width:45px;">Spalte:</label>
    <input id="column" name="column" required><br />
    <input type="submit" value="Platzieren">
</form>
<br/>
<form style="display:inline-block;" method="POST" action="/save">
    <input type="submit" value="Speichern">
</form>
<form style="display:inline-block;" method="GET" action="/load">
    <input type="submit" value="Laden">
</form>
<br/>
<form style="display:inline-block;" method="GET" action="/redo">
    <input type="submit" value="Redo">
</form>
<form style="display:inline-block;" method="GET" action="/undo">
    <input type="submit" value="Undo">
</form>
<br/>
<form style="display:inline-block;" method="POST" action="/newGame">
    <input type="submit" value="New Game">
</form>
</body>
</html>